.home-page {
    margin: 50px auto;
    padding: 16px;
    min-height: 580px;
    max-width: 900px;
    background-color: #f1f5f8;
    background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
    background-size: 40px 40px;
    border-radius: 20px;
    box-shadow: 4px 3px 7px 2px #00000040;
    form {
        margin-top: 40px;
        input {
            border: 0;
            border-bottom: 3px dashed #fdcb6e;
            background-color: transparent;
            font-family: "Architects Daughter", sans-serif;
            font-size: 1.3rem;
            padding: 10px 15px;
            width: 70%;
            color: #494a4b;
        }
        button {
            // margin-top: 30px;
            border: none;
            background-color: #fdcb6e;
            color: #494a4b;
            border-radius: 1px;
            padding: 10px 15px;
            font-family: "Architects Daughter", sans-serif;
            font-size: 1rem;
        }
        .error{
            text-align: initial !important; 
            margin-left: 0px;
        }
    }
}
.items {
    margin: 50px 0 0 63px ;
    text-align: inherit;
    ul li {
        text-align: left;
        margin: 20px 10px;
        font-size: 2rem;
        font-weight: 300;
        color: #494a4b;
    }
}
.home-page form input:focus {
    border: 0;
    outline: none;
    border-bottom: 3px dashed #fdcb6e;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        width: 60%;
        margin-top: 30px;
        background-color: #fdc66e;
        border-radius: 10px;
        border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
        padding: 0.2rem 1.2rem;
        color: #494a4b;
        margin-left: auto;
    }
    button{
        text-align: right;
        margin-right: 0px;
    margin-left: auto;
    }
}
